

{{#extend "default"}}
  {{#content "main"}}
    


    <article class="article-blog-detail">

          <!-- Article -->

            <section class="wrapper style3 container special">

              <header class="major">
                <h1><strong>{{title}}</strong></h1>
                <p class="author">written by admin on {{ formatDate  date}}</p>
              </header>

              <div class="row">
                <div class="12u">
                  <section class="article-list">
                    {{{contents}}}
                  </section>
                </div>
              </div>

              <div class="row">
                <div class="alignleft">
                     <script type="text/javascript">
                        amzn_assoc_ad_type = "banner";
                  amzn_assoc_marketplace = "amazon";
                  amzn_assoc_region = "US";
                  amzn_assoc_placement = "assoc_banner_placement_default";
                  amzn_assoc_campaigns = "patiolawngarden";
                  amzn_assoc_banner_type = "category";
                  amzn_assoc_p = "12";
                  amzn_assoc_isresponsive = "false";
                  amzn_assoc_banner_id = "0DG453YKPAFWQEPR5B02";
                  amzn_assoc_width = "300";
                  amzn_assoc_height = "250";
                  amzn_assoc_tracking_id = "naturesite20-20";
                  amzn_assoc_linkid = "a1adfd25405d6b25bff68701ca01685c";
                     </script>
                     <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
                    </div>
              </div>
           </section>

          <section class="major detail">
                <div class="row">
                  
                  <div class="6u 12u(narrower)">
                    {{#if previous}}
                    <section class="prev-article">
                      <nav class="pagination">
                        <a class="prev button" href="/blog/{{{previous.url}}}">&larr; {{{previous.title}}}</a>
                      </nav>
                    </section>
                    {{/if}}
                  </div>
                  
                  
                  <div class="6u 12u(narrower)">
                    {{#if next}}
                    <section class="float-right next-article">
                      <nav class="pagination">
                        <a class="next right button" href="/blog/{{{next.url}}}">{{{next.title}}} &rarr;</a>
                      </nav>
                    </section>
                    {{/if}}
                  </div>
                 
                </div>
              

          </section>  
        </article>



  {{/content}}
{{/extend}}
