
{{#extend "default"}}
  {{#content "main"}}

		



			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon fa-tree"></span>
						<h2>Welcome to <strong>nature-channel.org!</strong></h2>
						<p>This is a basic website that shows information about environment and natural topic that will be easy to read and hopelly helpful people. At the moment, you can read our <a href="/blog">Blog section.</a></p>
					</header>

					
				</article>

			
	<!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.dropotron.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/jquery.scrollgress.min.js"></script>
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>
  {{/content}}
{{/extend}}
